DKG_INITIATOR_PRIVATE_KEY=
DKG_INITIATOR_PASSPHRASE=
DKG_INITIATOR_ADDRESS=
DKG_AUTHORITY_ADDRESS=
RPC_PROVIDER=
WEB3_INFURA_API_KEY=
POLYGONSCAN_API_KEY=
DOMAIN=
NETWORK=
ECOSYSTEM=
ACCESS_CONTROLLER=
FEE_MODEL=
DURATION=
