__pycache__
.env
.history
.hypothesis/
.tox/
build/*
!build/deployments/
build/deployments/*
!build/deployments/map.json
!build/deployments/1
!build/deployments/137
reports/
venv/
.python-version
bin/
.vscode/
