[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
coincurve = "*"
cryptography = "*"
eth-ape = "*"
ape-solidity = ">=0.8.4"
ape-etherscan = {git = "https://github.com/derekpierre/ape-etherscan.git", ref = "flimsy-verification"}
ape-polygon = "*"
ape-infura = "*"
flake8 = "*"
isort = "*"
nucypher-core = "*"
pre-commit = "*"
tox = "*"
pyyaml = "*"
bump2version = "*"
web3 = "<7"

[dev-packages]

[requires]
python_version = "3"
