[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
coincurve = "*"
cryptography = "*"
eth-ape = "<=0.6.19"  # there is a bug in 0.6.20 that causes `ape test` to fail
ape-solidity = ">=0.6.5"
ape-etherscan = "*"
ape-polygon = "*"
ape-infura = "*"
flake8 = "*"
isort = "*"
nucypher-core = "*"
pre-commit = "*"
tox = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3"
