name: Publish Package to NPM
on:
  release:
    types: [published]

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # We build the package with Node 18 to ensure compatibility with that minimum version
      - name: Build (Node 18)
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
      - run: |
          npm install
          npm run build
          npm pack

      # OIDC used for publishing requires node >=22.9.0 and npm >=11.5.1
      - name: Publish to NPM (Node 22 + npm 11)
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"
      - run: |
          npm install -g npm@^11.5.1
          npm publish --tag latest *.tgz
